/* 네이버 지도 감싸는 Wrapper */
.map-wrapper {
  width: 80%;
  max-width: 1200px; /* 최대 너비 설정 */
  height: 400px; /* 지도 높이 설정 */
  flex: 0 0 400px; /* flex-grow: 0, flex-shrink: 0, flex-basis: 500px */
  border: 1px solid #ddd; /* 테두리 추가 (선택사항) */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 그림자 효과 (선택사항) */
  position: relative;
  z-index: 1; /* NavBar 아래에 위치 */
}

/* 검색 영역 스타일 */
.search-container {
  display: flex;
  flex-direction: row; /* 입력 필드와 버튼을 가로로 나란히 배치 */
  justify-content: center;
  align-items: center;
  gap: 10px; /* 입력 필드와 버튼 간격 */
  margin-top: 20px; /* 지도와의 간격 */
  padding: 10px;
}

.search-input {
  width: 300px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.search-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #3b82f6;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #2563eb;
}

/* 검색 결과 스타일 */
.search-results {
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 10px;
  width: 80%;
  max-height: 400px; /* 최대 높이 설정 */
  overflow-y: auto; /* 수직 스크롤 허용 */
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.search-result-item {
  margin-bottom: 10px;
  font-size: 14px;
  color: #333;
}

.search-result-item:last-child {
  margin-bottom: 0; /* 마지막 항목은 간격 제거 */
}
