/* Reset 스타일 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Arial", sans-serif;
  background-color: #ffffff;
  color: #000000;
}

/* 메인 컨텐츠 */
.main-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: calc(100vh - 80px); /* 헤더 제외한 높이 */
  align-items: center;
  padding: 50px;
}

.left-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main-title {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.4;
}

.subtitle {
  font-size: 1rem;
  color: #555555;
  line-height: 1.6;
}

.search-form {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.search-form input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  flex: 1;
}

.search-form button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #3b82f6;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* 오른쪽 이미지 목업 */
.right-content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.mockup {
  position: relative;
}

.phone-image {
  position: absolute;
  top: 80px;
  left: 80px;
  width: 450px;
  /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); */
}

.browser-image {
  width: 600px;
  margin-right: 0; /* 오른쪽 여백 제거 */
  padding-right: 0; /* 내부 여백 제거 */
  /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); */
}

.nav-links li a {
  font-weight: bold; /* nav 글자 굵게 */
}

