.score {
  margin: 20px;
}

.score-table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

.score-table th,
.score-table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.score-table th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.search-results {
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 10px;
  width: 80%;
  max-height: 400px; /* 최대 높이 설정 */
  overflow-y: auto; /* 수직 스크롤 허용 */
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.search-result-item {
  margin-bottom: 10px;
  font-size: 14px;
  color: #333;
}

.search-result-item:last-child {
  margin-bottom: 0; /* 마지막 항목은 간격 제거 */
}
